<div class="container mt-3 content">
    <div class="col-lg">
        <div class="card">
            <div class="card-header">
                <h4>Araç Güncelle</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="carUpdateForm">
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <label for="brandList" class="form-label">Marka:</label>
                        </div>
                        <div class="col-lg">
                            <select id="brandList" class="form-select" size="3" formControlName="brandId">
                                <option selected>Marka Seçiniz</option>
                                <option *ngFor="let brand of brands" value="{{brand.Id}}">{{brand.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <label for="colorList" class="form-label">Renk:</label>
                        </div>
                        <div class="col-lg">
                            <select id="colorList" class="form-select" size="3" formControlName="colorId">
                                <option selected>Renk Seçiniz</option>
                                <option *ngFor="let color of colors" value="{{color.Id}}">{{color.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <label for="modelYears" class="form-label">Model Yılı:</label>
                        </div>
                        <div class="col-lg">
                            <select id="modelYears" class="form-select" size="3" formControlName="modelYear">
                                <option selected>Model Yılı Seçiniz</option>
                                <option *ngFor="let year of modelYearList" value="{{year}}">{{year}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <label for="dailyPrice" class="form-label">Günlük Ücret:</label>
                        </div>
                        <div class="col-lg">
                            <input type="number" class="form-control" id="dailyPrice" formControlName="dailyPrice"
                                placeholder="örn. 100"
                                [ngClass]="{ 'is-invalid': carFormControls.dailyPrice.touched && carFormControls.dailyPrice.errors }" />
                            <div *ngIf="carFormControls.dailyPrice.touched && carFormControls.dailyPrice.errors"
                                class="invalid-feedback">
                                <div *ngIf="carFormControls.dailyPrice.errors.required">Ücret Bilgisi Gereklidir!</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <label for="description" class="form-label">Açıklama:</label>
                        </div>
                        <div class="col-lg">
                            <textarea class="form-control" id="description" rows="3" formControlName="description"
                                placeholder="Açıklama..."
                                [ngClass]="{ 'is-invalid': carFormControls.description.touched && carFormControls.description.errors }">
                                <div *ngIf="carFormControls.description.touched && carFormControls.description.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="carFormControls.description.errors.required">Açıklama Gereklidir!</div>

                            </textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-2">
                            <label for="findexScore" class="form-label">Findex Puanı:</label>
                        </div>
                        <div class="col-lg">
                            <input type="number" class="form-control" id="findexScore"
                                formControlName="findexScore" placeholder="örn. 100"
                                [ngClass]="{ 'is-invalid': carFormControls.findexScore.touched && carFormControls.findexScore.errors }" />
                            <div *ngIf="carFormControls.findexScore.touched && carFormControls.findexScore.errors"
                                class="invalid-feedback">
                                <div *ngIf="carFormControls.findexScore.errors.required">Findex Puanı Gereklidir!
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2">
                    <button class="btn btn-warning" (click)="updateCar()" type="button">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
</div>
