<div *ngIf="dataLoaded==false" class="container d-flex mt-3">
    <strong>Yükleniyor...</strong>
    <div class="spinner-grow text-info ms-auto" role="status" aria-hidden="true"></div>
</div>

<table *ngIf="dataLoaded==true" class="container table table-light table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Açıklama</th>
        <th scope="col">Marka</th>
        <th scope="col">Model Yılı</th>
        <th scope="col">Şirket</th>
        <th scope="col">İsim</th>
        <th scope="col">Soyisim</th>
        <th scope="col">Kiralanan Tarih</th>
        <th scope="col">Teslim Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <th scope="row">{{rental.id}}</th>
        <td>{{rental.carDescription}}</td>
        <td>{{rental.carBrand}}</td>
        <td>{{rental.carModel}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.rentDate | date}}</td>
        <td>{{rental.returnDate | date}}</td>
      </tr>
      
    </tbody>
  </table>
